{% extends "base.html" %}
{% block extra_head %}
<!-- Incluir jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />

<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.0/css/responsive.dataTables.min.css"></script>
<script src="https://cdn.datatables.net/responsive/3.0.0/js/dataTables.responsive.min.js"></script>


{% endblock extra_head %}
{% block content %}
<h2>Lista de Ratios CEDEARs</h2>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Símbolo</th>
            <th>Ratio</th>
            <th>Último Precio</th>
            <th>Último Precio Acción</th>
            <th>Diferencia Acción x Ratio - Último Precio Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for cedear in cedears %}
        <tr>
            <td>{{ cedear.simbolo }}</td>
            <td>{{ cedear.ratio }}</td>
            <td>{{ cedear.ultimo_precio }}</td>
            <td>{{ cedear.ultimo_precio_accion|floatformat:2 }}</td>
            <td>{{ cedear.diferencia_porcentaje|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable( {
            responsive: true
        } );
    } );
</script>
{% endblock content %}