{% extends "base.html" %}
{% block extra_head %}
<!-- Incluir jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />

<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.0/css/responsive.dataTables.min.css"></script>
<script src="https://cdn.datatables.net/responsive/3.0.0/js/dataTables.responsive.min.js"></script>


{% endblock extra_head %}
{% block content %}
<h2>Lista de Ratios CEDEARs</h2>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Símbolo</th>
            <th>Precio Venta Peso</th>
            <th>Precio Venta Dólar</th>
            <th>Ratio</th>
            <th>MEP</th>
            <th>Beneficio Cotización (%)</th>
        </tr>
    </thead>
    <tbody>
        {% for cedear in cedears_list %}
        <tr>
            <td>{{ cedear.simbolo }}</td>
            <td>{{ cedear.precio_venta_peso }}</td>
            <td>{{ cedear.precio_venta_dolar }}</td>
            <td>{{ cedear.ratio|floatformat:2 }}</td>
            <td>{{ cedear.mep|floatformat:2 }}</td>
            <td style="text-align: center;">{{ cedear.beneficio_cotizacion|floatformat:2 }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable( {
            responsive: true
        } );
    } );
</script>
{% endblock content %}