{% extends "base.html" %}
{% block extra_head %}
<!-- Incluir jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />

<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.0/css/responsive.dataTables.min.css"></script>
<script src="https://cdn.datatables.net/responsive/3.0.0/js/dataTables.responsive.min.js"></script>

{% endblock extra_head %}
{% block content %}
<h2>Lista de Operaciones</h2>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Símbolo</th>
            <th>Precio Compra</th>
            <th>Precio Venta</th>
            <th>Cantidad</th>
            <th>Moneda</th>
            <th>Monto Total</th>
        </tr>
    </thead>
    <tbody>
        {% for operacion in operaciones_list %}
        <tr>
            <td>{{ operacion.fecha|date:"Y-m-d H:i" }}</td>
            <td>{{ operacion.simbolo }}</td>
            <td>{{ operacion.precio_compra }}</td>
            <td>{{ operacion.precio_venta }}</td>
            <td>{{ operacion.cantidad }}</td>
            <td>{{ operacion.moneda }}</td>
            <td>{{ operacion.monto_total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable( {
            responsive: true
        } );
    } );
</script>
{% endblock content %}